exportPattern("as.score")
exportPattern("color_by_tier")
exportPattern("peaks")
exportPattern("plot.mfc_score")
exportPattern("ref")
exportPattern("regions")
exportPattern("lesions")
exportPattern("score")
exportPattern("smooth")
exportPattern("trfr")
